USE [MyDatabase];
GO

ALTER PROCEDURE dbo.usp_GetStdByDept
    @dept VARCHAR(50),
    @stdCnt INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM Hostel_info
        WHERE RoomNo = 10;

        SELECT @stdCnt = COUNT(*)
        FROM College
        WHERE Dept = @dept;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO   -- Procedure creation batch ends here


DECLARE @StudentCount INT;
    
EXEC dbo.usp_GetStdByDept 
     @dept = 'Computer Science',
     @stdCnt = @StudentCount OUTPUT;

SELECT @StudentCount AS TotalStudents;
